
html,body{
  background: white;
  margin: 0;
  padding: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  color: #F7B267;
}

.container {
  width: 100%;
  position: absolute;
  height: 100%;
}

.button-container-1 {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 5%;
}

.button-container-2 {
  display: flex;
  position: absolute;
  bottom: 10%;
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
}

.heading-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
  font-size: 2rem;
  width: 90%;
  margin: 0 5%;
  /* border-bottom: 5px solid #F7B267; */
}

.change-1:hover {
  cursor: pointer;
}

.change-1-text {
  font-size: 3rem;
  padding: 1rem 0;
}
.arrow {
  font-size: 5rem;
  color: #F7B267;
}
.arrow:hover {
  cursor: pointer;
  color: #F7B267;
}

h1 {
  color: #F7B267;
}

h2 {
  font-size: 7rem;
  color: #F2A93C;
  margin: 0.75rem;
}

.link {
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 2rem;
  color: #F2A93C;
  /* text-decoration: none; */
  display: flex;
  justify-content: center;
  width: 100%;
}
